.banks {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.banks__title {
    margin-bottom: 1.5rem;
}

.carousel-container {
    max-width: $containerWidth;
    min-height: 15.625rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.banks__carousel {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    transition: .7s;
}

.banks__carousel-item {
    margin-right: 1rem;
}