html {
    font-size: $baseFontSize;

    @include phones {
        font-size: $baseFontSize - 4px;
    }
}

body,
html {
    height: 100%;
}

body {
    color: $text;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.wrapper {
    width: 100%;
    background-color: #E5E5E5;
}

.main {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container {
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//tag styles reset

* {
    box-sizing: border-box;
}

footer {
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

table {
    border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}