.help-icon {
    width: .75rem;
    height: .75rem;
}

.qayli-icon {
    width: 6.0625rem;
    height: 2rem;
}

.vector-icon {
    width: 1rem;
    height: 1rem;
}

.heart-icon {
    width: 1.1875rem;
    height: 1.125rem;
}