@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body,
html {
  height: 100%;
}

body {
  color: #38424E;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  width: 100%;
  background-color: #E5E5E5;
}

.main {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container {
  width: 95%;
  max-width: 1136px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

footer {
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

.help-icon {
  width: 0.75rem;
  height: 0.75rem;
}

.qayli-icon {
  width: 6.0625rem;
  height: 2rem;
}

.vector-icon {
  width: 1rem;
  height: 1rem;
}

.heart-icon {
  width: 1.1875rem;
  height: 1.125rem;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}
.header__col-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__col-center {
  display: flex;
  align-items: center;
}
.header__col-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__logo {
  margin-right: 1.4375rem;
}

.header__city-selection {
  display: flex;
  align-items: center;
}
.header__city-selection-icon {
  margin-right: 0.4375rem;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0F0208;
}
.header__nav-item {
  margin-right: 1.5rem;
}
.header__nav-item:last-child {
  margin-right: 0;
}

.header__like {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}
.header__like-icon {
  margin-right: 0.375rem;
}

.header__user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 2rem;
  border-radius: 5px;
  overflow: hidden;
  font-size: 0.875rem;
  background-color: #ffffff;
}
.header__user-img {
  width: 2rem;
  height: 100%;
  margin-right: 4px;
}
.header__user-name {
  height: 100%;
  flex: 1;
}

.mortgage-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mortgage__title {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
  color: #0F0208;
}

.mortgage__desc {
  font-size: 1.125rem;
  color: #38424E;
  text-align: center;
  margin-bottom: 1.5625rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 2.25rem 5.375rem 2.25rem;
  position: relative;
}
.form__input {
  width: 100%;
  min-height: 3.875rem;
  border: 1px solid #CDD3DD;
  border-radius: 4px;
  margin-right: 1rem;
  padding: 0.75rem;
}
.form__input-initial {
  width: 100%;
  min-height: 3.875rem;
  display: flex;
  margin-right: 1rem;
}
.form__input--initial {
  max-width: 22.9375rem;
  min-height: 3.875rem;
  margin-right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.form__input::-webkit-input-placeholder {
  align-items: flex-end;
}
.form__input:-moz-placeholder {
  align-items: flex-end;
}
.form__input:-moz-placeholder {
  align-items: flex-end;
}
.form__input::-webkit-input-placeholder {
  align-items: flex-end;
}
.form__selector {
  height: 3.875rem;
  border: 1px solid #CDD3DD;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.form::before {
  content: "Сумму ипотеки: 0₽";
  font-size: 0.75rem;
  font-weight: 500;
  position: absolute;
  top: 110%;
  left: 2%;
}

.submit-button {
  padding: 1.25rem 2.5rem 1.25rem 2.5rem;
  display: flex;
  border: none;
  border-radius: 4px;
  font: inherit;
  color: inherit;
  background-color: #5AB677;
  cursor: pointer;
  color: #ffffff;
}
.submit-button-value {
  margin-right: 0.5rem;
}
.submit-button-number {
  width: 1.375rem;
  height: 1.25rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.32);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banks {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.banks__title {
  margin-bottom: 1.5rem;
}

.carousel-container {
  max-width: 1136px;
  min-height: 15.625rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.banks__carousel {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  transition: 0.7s;
}

.banks__carousel-item {
  margin-right: 1rem;
}

.more-btn {
  border: 1px solid #000;
  padding: 0.375rem 0.875rem;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
}

.bank__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 11rem;
  height: 11rem;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem 1rem 1rem 1rem;
  white-space: normal;
  text-align: center;
}

.bank__icon {
  z-index: 1000;
  width: 4rem;
  height: 4rem;
}
.bank__icon-wrapper {
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: 50%;
  top: 0;
  z-index: 1000;
  border-radius: 6.25rem;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.bank__desc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.bank__title {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.bank__desc {
  margin-bottom: 1.25rem;
}